{% load staticfiles %}
<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static "css/iconFont.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/metro-bootstrap.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/metro-bootstrap-responsive.css" %}">
		<link rel="icon" href="{% static "img/favicon.ico" %}" mce_href="{% static "img/favicon.ico" %}" type="image/x-icon">
		<script type="text/javascript" src="{% static "js/add.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
	</head>
	<body class="metro" style="background-color:rgb(82,82,82); padding-top:45px;">
		<!-- Here is the navbar -->
		<nav class="navigation-bar dark fixed-top" style="background-color:rgb(26,26,26);">
			<div class="navigation-bar-content container">
				<div class="offset1">
				<a href="/" class="element" style="padding:0px 10px 0px 20px;">
					<img src="{% static "img/logo.png" %}" style="margin:0px; padding:0px;height:45px;width:173px;">
				</a>
				</div>
				<!-- <span class="element-divider"></span> -->

				<a href="/" class="element" style="font-size:13px;">首页</a>
				<a href="/dynlist" class="element" style="font-size:13px;">动态</a>
				{% if last_event.id %}
					<a href="/join/?id={{ last_event.id }}" class="element" style="font-size:13px;">活动报名</a>
				{% endif %}
			</div>
		</nav>

		<!-- Main Part -->
		{% block content %}
		{% endblock %}

		<!-- Here is the footer -->
		<div class="container" style="height:75px;background-color:rgb(26,26,26)">
		<div class="grid no-margin">
			<div class="row no-margin">
				<div class="span4 offset1" style="padding-left:30px">
					<h4 class="fg-white no-margin" style="padding-top:20px; font-size:14px;">关注我们：&nbsp;<a href="http://www.renren.com/281199030/profile"><img src="{% static "img/renren.png" %}"></a>&nbsp;<a href="http://weixin.qq.com/r/wUwBGS3ENHBLrWl6"><img src="{% static "img/wechat.png" %}"></a>&nbsp;<a href="http://weibo.com/hitmstc"><img src="{% static "img/sina_weibo.png" %}"></a></h4>
				</div>
				<div class="span3 offset1" style="padding-left:50px">
					<h5 align="center" class="fg-white no-margin" style="padding-top:23px; font-size:11px;"> Powered by&nbsp;<a href="http://yumendy.com/">Duan Yi</a></h5>
				</div>
				<div class="span3" style="margin-right:10px;margin-left:0px; float:right">
					<h5 align="left" class="fg-white no-margin" style="padding-top:20px;"> HIT&nbsp;&nbsp;MSTC<br><span style="font-size:10px">©All rights reserved</span></h5>
				</div>
			</div>
		</div>
		</div>
		<script type="text/javascript" src="{% static "js/jquery.widget.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery.mousewheel.js" %}"></script>
		<script type="text/javascript" src="{% static "js/metro.min.js" %}"></script>
	</body>
</html>