{% extends "base.html" %}
{% load staticfiles %}

{% block title %}图片上传{% endblock %}

{% block content %}

<div class="container bg-white">
	<div class="span4 offset1" style="padding-left:20px;padding-top:20px">
		<form method="post" class="no-margin" enctype="multipart/form-data">
			{% csrf_token %}
			<label>标题</label>
			<div class="input-control text">
				<input type="text" name="name">
				<button class="btn-clear"></button>
			</div>
			<label>描述</label>
			<div class="input-control textarea">
				<textarea name="descripe" rows="10" warp="hard" cols="40"></textarea>
			</div>
			<label>上传</label>
			<div class="input-control file">
			    <input type="file" name="img" required>
			    <button class="btn-file"></button>
			</div>
			<div class="form-actions" style="padding-top:20px; padding-bottom:20px">
				<button class="button primary" type="submit">提交</button>
			</div>
		</form>
	</div>
</div>


{% endblock %}