{% extends "base.html" %}
{% load staticfiles %}

{% block title %}活动报名{% endblock %}

{% block content %}

<div class="container bg-white">
	<div class="span11 offset1" style="padding-left:20px;padding-top:20px;padding-bottom:20px;">
		<div class="panel">
		    <div class="panel-header bg-lightBlue fg-white">
		        报名状态
		    </div>
		    <div class="panel-content text-center">
		        {% if state == "time_out" %}
		        	<h2 class="text-alert">已经超过报名时间。</h2>
		        {% endif %}
		        {% if state == "over_number" %}
		        	<h2 class="text-alert">已经达到人数限制。</h2>
		        {% endif %}
		        {% if state == "success" %}
		        	<h2 class="text-success">报名成功。</h2>
		        {% endif %}
		    </div>
		</div>

	</div>
</div>



{% endblock %}